# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Virtual Environment
venv/
env/
PMProject/

# Environment variables
.env

# VS Code
.vscode/

# Static files (optional)
staticfiles/

# OS files
.DS_Store
Thumbs.db

#media files
media/