{% load static %}
<html>
<head>

<title>Project Management</title>

<link rel="stylesheet" href="{% static 'css/LSStyle.css' %}">

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">
    <h2>Project Management</h2>

    <div class="nav-right">
    <a href="login">Login</a>
    <a href="signup" class="btn-nav">Sign Up</a>
</div>
</nav>

<!-- HERO -->
<section class="hero">

    <div class="hero-content">
        <h1>Manage Projects Smarter</h1>
        <p>Store, organize, and track your files in one place. Stay updated with your progress and manage your work efficiently without complexity.</p>

        <div class="buttons">
            <a href="login" class="btn-primary">Get Started</a>
            <a href="signup" class="btn-outline">Create Account</a>
        </div>
    </div>

</section>

</body>
</html>